 <!-- ======= Header ======= -->
 <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/img/logo.png" alt=""> -->
        <h1>Node Blog App</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/latest-posts">Latest Posts</a></li>
          <li class="dropdown"><a><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/category/business">Business</a></li>
                <li><a href="/category/culture">Culture</a></li>
                <li><a href="/category/sport"> Sport</a></li>
                <li><a href="/category/food"> Food</a></li>
                <li><a href="/category/politics">Politics</a></li>
                <li><a href="/category/celebrity">Celebrity</a></li>
                <li><a href="/category/travel">Travel</a></li>
            </ul>
          </li>

          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    
      <div class="position-relative">
      
        
       
        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="/search" method="POST" class="search-form" role="search" >
            <span class="icon bi-search"></span>
            <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div>
        <!-- End Search Form -->
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-box-arrow-in-right"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
           
              <a class="dropdown-item" href="/logout">Logout</a>
              <a class="dropdown-item" href="/add-post">Add Post</a>
           
              <a class="dropdown-item" href="/login">Login</a>
           
          </div>
        </div>

      </div>

    </div>

  </header><!-- End Header -->